@(institutionForm: Form[Institution])
    @title = {
        Institución
    }

    @navigator = {
        <a href="">Institución</a><div class="breadcrumb_divider"></div><a class="current"> Información </a>

    }

    @import helper._
    @import helper.twitterBootstrap._
    @main2(title, navigator, null) {
        <div id=institution>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span3">
                        <a class="image-btn btn btn-info disabled" data-toggle="modal" href="#changeImage">Modificar</a>
                        <a href="#profileImage" data-toggle="modal"><img class="img-polaroid img-profile" src="@routes.Assets.at(institutionForm.get().image)" alt="@institutionForm.get().name"
                        height="200" width="200"></a>
                    </div>
                    <div class="span9">
                        <div class="profileInfo">
                            <h2>Informacion Basica</h2>
                            <div class="information"><i class="icon-user"></i>@institutionForm.get().name</div>
                            <div class="information"><i class="icon-home"></i>@institutionForm.get().address.street
                                @institutionForm.get().address.number @institutionForm.get().address.floor
                                @institutionForm.get().address.depto, @institutionForm.get().address.cp,
                                @institutionForm.get().address.locality, @institutionForm.get().address.province</div>
                            <div class="information"><i class="icon-telephone"></i> @institutionForm.get().telephone</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="changeImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*Button to close the modal*@
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Modificar Imagen</h4>
                        </div>
                        @helper.form(routes.InstitutionController.updateInstitutionImage(), 'enctype -> "multipart/form-data") {
                            <div class="modal-body">
                                <div class="clearfix  " id="picture_field">
                                    <label for="picture">Imagen de Perfil</label>
                                    <div class="input">

                                        <input type="file" id="picture" name="picture" accept="image/*" >
                                        <span class="help-inline"></span>
                                        <span class="help-block">Ingrese una imagen de perfil.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="actions">
                                    <input type="submit" value="Actualizar" class="btn btn-info">
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                                </div>

                            </div>
                        }
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!--
            <div class="modal fade" id="profileImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <img class="img-profile" src="" alt=""
                            height="100%" width="100%">
                        </div>
                    </div><!-- /.modal-content
                </div><!-- /.modal-dialog
            </div><!-- /.modal
            -->
        </div>
    }