logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
GetTogetherFlash/GetTogether.swf
GetTogetherFlash/GetTogether-app.xml
GetTogetherFlash/temp_xml_plist_file.xml
