@import helper._

    @title = {
    Cargar Preguntas y Respuestas en imagenes
}

    @navigator = {

    <a class="current">    Cargar Preguntas y Respuestas en imagenes
    </a>

}

@main2(title,navigator, "qaSheepIt.js"){

    <div class="container-fluid">
        <div id=therapistForm>
        @form(routes.GamePackageController.saveImageQAPackage(), 'enctype -> "multipart/form-data") {
                <!-- Main sheepIt Form -->

            <div id="qa_package">

                <fieldset>
                    <legend>Información del paquete</legend>

                    <div class="field">
                        <label for="packageName">Nombre del Paquete</label>
                        <input type="text" id="packageName" name="0_packageName" id="firstName" size="30" class="">
                    </div>
                    </fieldset>


                        <!-- Form template-->
                    <div id="qa_package_template">
                        <fieldset>
                            <legend>Pregunta</legend>
                            <label for="qa_package_#index#_imageQuestion">Imagen orientativa</label>
                            <input type="text" id="qa_package_#index#_imageQuestion" name="#index#_imageQuestion" type="file" id="picture" accept="image/*"  />

                            <label for="qa_package_#index#_textQuestion">Pregunta</label>
                            <input type="text" id="qa_package_#index#_textQuestion" name="#index#_textQuestion" type="text" size="15" maxlength="10" />
                        </fieldset>

                    <fieldset>
                            <!-- Embeded sheepIt Form -->
                        <div style="overflow:hidden;">
                            <legend>Posibles Respuestas</legend>

                            <div id="qa_package_#index#_options">

                                    <!-- Nested form template-->
                                <div id="qa_package_#index#_options_template">
                                    <label for="qa_package_#index#_options_#index_options#">Opcion</label>
                                    <input style="height: 20px" id="qa_package_#index#_options_#index_options#" type="file" id="picture" name="#index#_options_#index_options#" accept="image/*" >
                                    <input type="hidden" name="#index#_options_#index_options#_correctAnswer" value="off">
                                    <label class="inline-flex left-padding"><span style="color: #0088CC;">Es la respuesta correcta?</span></label>
                                    <input type="checkbox" name="#index#_options_#index_options#_correctAnswer"/>
                                    <a id="qa_package_#index#_options_remove_current"><img src="@routes.Assets.at("images/icons/usual/icon-trash.png")" width="16" height="16" border="0"></a>
                                </div>
                                    <!-- /Nested form template-->

                                    <!-- No forms template -->
                                <div id="qa_package_#index#_options_noforms_template">No hay opciones</div>
                                    <!-- /No forms template-->

                                    <!-- Controls -->
                                <div id="qa_package_#index#_options_controls" class="controls">
                                    <div id="qa_package_#index#_options_add" class="inline"><a class="infoControl">Añadir opcion</a></div>
                                    <div id="qa_package_#index#_options_remove_last" class="inline"><a class="infoControl">>Borrar ultima</a></div>
                                    <div id="qa_package_#index#_options_remove_all" class="inline"><a class="infoControl">Borrar todas</a></div>
                                </div>
                                    <!-- /Controls -->

                            </div>

                        </div>
                        </fieldset>
                            <!-- /Embeded sheepIt Form -->


                    </div>
                        <!-- /Form template -->



                        <!-- No forms template -->
                    <div id="qa_package_noforms_template">No hay preguntas</div>
                        <!-- /No forms template -->

                        <!-- Controls -->
                    <div id="qa_package_controls" class="controls">
                        <div id="qa_package_add" class="inline"><a class="infoControl">Añadir pregunta</a></div>
                        <div id="qa_package_remove_last" class="inline"><a class="infoControl">Borrar ultima</a></div>
                        <div id="qa_package_remove_all" class="inline"><a class="infoControl">Borrar todas</a></div>
                    </div>
                        <!-- /Controls -->


            </div>
                <!-- /Main sheepIt Form -->

            <div class="actions">
                <input type="submit" value="Guardar Paquete" class="btn btn-info">
            </div>


}
        </div>
    </div>
}