@import helper._

@title = {
    Dar de alta pregunta
}
    @navigator = {

    <a href="">Cards</a>

}


@main2(title, navigator , "qaSheepIt.js"){
    @form(routes.GamePackageController.saveTextQAPackage()) {
        <!-- Main sheepIt Form -->
        <label>Cargar paquete de Oracion</label>


        <div id="qa_package">

            <div class="field">
                <label for="packageName">Nombre del Paquete</label>
                <input type="text" id="packageName" name="0_packageName" id="firstName" size="30" class="">
            </div>

                <!-- Form template-->
            <div id="qa_package_template">
                <label for="qa_package_#index#_answer">Imagen</label>
                <input id="qa_package_#index#_answer" name="#index#_answer" type="text" size="15" maxlength="10" />
                <a id="qa_package_remove_current"><img src="images/cross.png" width="16" height="16" border="0"></a>

                    <!-- Embeded sheepIt Form -->
                <div style="margin-left:50px; overflow:hidden;">
                    <label>Opcion</label>

                    <div id="qa_package_#index#_options">

                            <!-- Nested form template-->
                        <div id="qa_package_#index#_options_template">
                            <label for="qa_package_#index#_options_#index_options#">Opciones</label>
                            <input id="qa_package_#index#_options_#index_options#" name="#index#_options_#index_options#" type="text" size="15" maxlength="10" />
                            <input type="hidden" name="#index#_options_#index_options#_correctAnswer" value="off">
                            <input type="checkbox" name="#index#_options_#index_options#_correctAnswer"/>
                            <a id="qa_package_#index#_options_remove_current"><img src="images/cross.png" width="16" height="16" border="0"></a>
                        </div>
                            <!-- /Nested form template-->

                            <!-- No forms template -->
                        <div id="qa_package_#index#_options_noforms_template">No hay opciones</div>
                            <!-- /No forms template-->

                            <!-- Controls -->
                        <div id="qa_package_#index#_options_controls" class="controls">
                            <div id="qa_package_#index#_options_add"><a><span>Añadir opcion</span></a></div>
                            <div id="qa_package_#index#_options_remove_last"><a><span>Borrar ultima</span></a></div>
                            <div id="qa_package_#index#_options_remove_all"><a><span>Borrar todas</span></a></div>
                        </div>
                            <!-- /Controls -->

                    </div>

                </div>
                    <!-- /Embeded sheepIt Form -->


            </div>
                <!-- /Form template -->



                <!-- No forms template -->
            <div id="qa_package_noforms_template">No hay preguntas</div>
                <!-- /No forms template -->

                <!-- Controls -->
            <div id="qa_package_controls" class="controls">
                <div id="qa_package_add"><a><span>Añadir pregunta</span></a></div>
                <div id="qa_package_remove_last"><a><span>Borrar ultima</span></a></div>
                <div id="qa_package_remove_all"><a><span>Borrar todas</span></a></div>
            </div>
                <!-- /Controls -->

        </div>
        <!-- /Main sheepIt Form -->

        <div class="actions">
            <input type="submit" value="Guardar Paquete" class="btn primary">
        </div>


    }
}