@import helper._

    @title = {
    Cargar Tarjeta
}

    @navigator = {

    <a class="current">Cargar Tarjeta</a>

}

@main2(title, navigator, "cardsSheepIt.js"){
    <div class="container-fluid">
        <div id=therapistForm>
        @form(routes.GamePackageController.saveCardPackage(), 'enctype -> "multipart/form-data") {
                <!-- Main sheepIt Form -->

            <fieldset>
                <legend>Información del paquete</legend>


            <div class="field">
                <label for="packageName">Nombre del Paquete</label>
                <input type="text" id="packageName" name="0_packageName" id="firstName" size="30" class="">
            </div>
            </fieldset>
            <fieldset>

                <legend>Tarjetas</legend>

            <div id="cards">

                <div id="cards_template">
                    <label for="cards_#index#">Texto </label>
                    <input id="cards_#index#" name="cardLabel_#index#" type="text" size="15" maxlength="10" />
                    <label for="cards_#index#_imageURL">Imagen</label>
                    <input type="file" id="picture" name="imageURL_#index#" accept="image/*" >
                </div>



                    <!-- No forms template -->
                <div id="cards_noforms_template">No hay tarjetas</div>
                    <!-- /No forms template -->

                    <!-- Controls -->
                <div id="cards_controls" class="controls">
                    <div id="cards_add" class="inline"><a class="infoControl">Añadir tarjeta</a></div>
                    <div class="inline"> - </div>
                    <div id="cards_remove_last" class="inline"><a class="infoControl">Borrar ultima</a></div>
                    <div class="inline"> - </div>
                    <div id="cards_remove_all" class="inline"><a class="infoControl">Borrar todas</a></div>
                </div>
                    <!-- /Controls -->

            </div>
                <!-- /Main sheepIt Form -->

            <div class="actions">
                <input type="submit" value="Guardar Paquete"  class="btn btn-info">
            </div>
                </fieldset>


        }
        </div>
    </div>
}