@(patientList: List[models.Patient])
    @import helper._

    @title = {
        Pacientes
    }
@main2(title, nav="patients", null) {

    <div class="container-fluid">
        <div class="row-fluid">
        @if(flash.containsKey("success")) {
            <div class="alert alert-success">
                <strong>Listo!</strong> @flash.get("success")
            </div>
        }
        </div>

        <div class="row-fluid">
        @if(patientList.isEmpty()) {

            <div class="well">
                <em>No se han ingresado pacientes</em>
            </div>

        } else {


            <div class="therapistList">
            @for(patient <- patientList) {

                <div class="span4">
                    <div class="well">


                        @if(patient.image!= null){
                            <img class="img-polaroid" src="@routes.Assets.at(patient.image)" alt="@patient.name" height="42" width="42">
                        }

                    <div class="therapistInfo">
                        @*<a href="@routes.PatientController.therapistProfile(patient.id)"><p class="inline">@therapist.name @therapist.surname</p></a>*@
                    <p class="inline">@patient.name @patient.surname</p>
                    <p class="inline">@patient.dni</p>
                        @if(Secured.isAdmin){
                            <a class="pull-right" data-toggle="modal" href="#@patient.id"><img src="@routes.Assets.at("images/delete.png")" alt="Eliminar" height="10" width="10"></a>
                        }
                    </div>
                    <label class = "remove">
                        <a class="btn btn-info disabled" href="@routes.ResultController.viewPatientResults(patient.id)">Ver Resultados</a>
                    </label>
                    </div>
                </div>

            }
            </div>
        }
        </div>
    </div>

}
