@(resultsList: List[models.TestResult])

@title = {
    Profile
}
    @navigator = {
        <a href=# class="current"> Resultados</a>
    }


    @main2(title, navigator, "fullcalendar/fullcalendar.min.js") {
<html>
<head>
    <script>

        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                    },
                editable: false,
                events: {
                        url:"/events.json.test",
                        cache: true
                        }
            });

        });

    </script>
    <style>

        body {
            margin-top: 40px;
            text-align: center;
            font-size: 14px;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

        #calendar {
            width: 900px;
            margin: 0 auto;
        }

    </style>
</head>


             <div id='calendar'></div>
}
