@(resultsList: List[models.TestResult])

@title = {
    Profile
}
    @navigator = {
        <a href=# class="current"> Resultados</a>
    }


@main2(title, navigator, "fullcalendar/fullcalendar.min.js") {
<html>
<head>
    <script>

    function openModal(title, info, url) {
        $("#eventInfo").html(info);
        $("#createEventModal").modal('show');
    }

        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                    },
                editable: true,
                events: {
                        url:"/events.json.test",
                        cache: true
                        },
                 selectable: true,
                 eventRender: function (event, element) {
                    element.attr('href', 'javascript:void(0);');
                    element.attr('onclick', 'openModal("' + event.title + '","' + event.description + '","' + event.url + '");');
                  }
            });

        });

    </script>
    <style>

        #calendar {
            width: 900px;
            margin: 0 auto;
            margin-top: 40px;
            text-align: center;
            font-size: 14px;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

    </style>
</head>


    <div id='calendar'></div>


    <div id="createEventModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="myModalLabel1">Resultado</h3>
        </div>
        <div class="modal-body">
            <div id="eventInfo"></div>
        </div>
    </div>
}
