@(teamList: List[models.Team])
@import helper._

@title = {
    Equipos de Trabajo
}
    @main(title, nav = "teams") {

        @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
        }

        @if(teamList.isEmpty()) {

        <div class="well">
            <em>No se han ingresado equipos de trabajo</em>
        </div>

        } else {

            <div class="row">
            @for(team <- teamList) {


                <div class="team span5">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span1"></div>
                            @*<div class="span1">*@
                            @*<img src="@routes.Assets.at(team.getPatient.image)" alt="@team.getPatient.name" height="100" width="100">*@
                            @*</div>*@
                            <div class="span4">
                                @if(team.getPatient != null){
                                    <label class="name"> @team.getPatient.name  @team.getPatient.surname</label>
                                }else{
                                    <label class="name">No se ha Asignado ningún paciente</label>
                                }
                                @if(team.getSupervisor != null){
                                    <label>Supervisor: @team.getSupervisor.name @team.getSupervisor.surname </label>
                                }else{
                                    <label>Supervisor: No se ha asignado ningún supervisor</label>
                                }

                                @if(team.getCoordinator() != null){
                                    <label>Coordinador: @team.getCoordinator.name @team.getCoordinator.surname</label>
                                }else{
                            <label>Coordinador: No se ha asignado ningún coordinador</label>
                                }

                                @if(team.getIntegrator() != null){
                                    <label>Integrador: @team.getIntegrator.name @team.getIntegrator.surname</label>
                                }else{
                            <label>Coordinador: No se ha asignado ningún coordinador</label>
                                }
                                @if(team.getTherapists() != null){
                                    <label>Terapeutas: @team.getTherapists().name @team.getTherapists().surname</label>
                                }else{
                                    <label>Terapeutas: No se han asignado terapeutas</label>
                                }
                                @form(routes.TeamController.removeTeam(team.id)) {
                                    <label class = "remove">
                                        <a data-toggle="modal" href="#myModal" class="btn btn-danger">Eliminar</a>
                                    </label>
                                }
                                <label class = "edit">
                                    <a class="btn btn-info disabled" href="@routes.TeamController.editTeam(team.id)">Editar</a>
                                </label>

                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title">Eliminar Terapeuta</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                    Estas seguro que quieres eliminar este Equipo de trabajo?
                                                        @team.id
                                                    </div>
                                                    <div class="modal-footer">
                                                        @form(routes.TeamController.removeTeam(team.id)) {
                                                            <label class = "remove">
                                                                <input type="submit" value="Eliminar" class="btn danger">
                                                            </label>
                                                        }
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                            </div>
                        </div>
                    </div>
                </div>


            }
            </div>

        }

        <fieldset class="actionst">
            <a class="btn btn-success" id="add" href="@routes.TeamController.createTeam()"> Agregar Equipo de Trabajo</a>
        </fieldset>




}
