@orange: #FF9933;
@white: white;

.Border-radius(@radius:5px) {
  -webkit-border-radius:@radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.ButtonOrange{
    .BackgroundOrange;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAD5c', endColorstr='#FF9933', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #FFAD5c #FFAD5c #FF9933;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.BackgroundOrange{
  background-color: @orange;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#FFAD5c), to(#FF9933));
  background-image: -moz-linear-gradient(top, #FFAD5c, #FF9933);
  background-image: -ms-linear-gradient(top, #FFAD5c, #FF9933);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF9933), color-stop(100%, #FF9933));
  background-image: -webkit-linear-gradient(top, #FFAD5c, #FF9933);
  background-image: -o-linear-gradient(top, #FFAD5c, #FF9933);
  background-image: linear-gradient(top, #FFAD5c, #FF9933);
}

@font-face
{
  font-family: chalk;
  src: url("/assets/fonts/CAIPIRINHA.ttf")
}

@font-face
{
  font-family: chalk1;
  src: url("/assets/fonts/CFMarieEve.ttf")
}

@font-face
{
  font-family: chalk2;
  src: url("/assets/fonts/LEVIBRUSH.ttf")
}


html, body{
  background: #eee;
  color: #bababa;
  text-align: left;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
  padding-top: 40px;
}

h1{
  font-weight: 200;
  font-size: 16pt;
  background: transparent url("/assets/images/h1.png") no-repeat center left;
  padding-left: 33px;
  margin: 7px 5px 8px 8px;
}

/* --------------------------------------------- TOPBAR --------------------------------------------- */


.topbar{
  background-image: -moz-linear-gradient(top, #222222, #333333) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#333333)) !important;
  background-image: -webkit-linear-gradient(top, #222222, #333333) !important;
  background-image: -o-linear-gradient(top, #222222, #333333) !important;
  background-image: linear-gradient(to bottom, #222222, #333333) !important;
  background-repeat: repeat-x !important;
  border-color: #252525 !important;

  .brand{
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 20px !important;
    float: right !important;
    font-weight: bold !important;
    color: black !important;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125) !important;
    -webkit-transition: all .2s linear !important;
    -moz-transition: all .2s linear !important;
    transition: all .2s linear !important;
  }
}

.topbar .brand:hover {
  color: #ffffff !important;
  text-decoration: none !important;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4) !important;
  background-color: transparent !important;
}


input:focus{
  outline-color: @orange;
}


/* --------------------------------------------- BUTTONS --------------------------------------------- */

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  text-decoration: none;
  color: @white ;
}

.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}

.btn:focus {
  outline: 1px dotted #666;
}

.btn.btnRemove{
  border: none;
  background-image: url("/assets/images/delete.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}

.actions{
  .btn.primary{
    .ButtonOrange;
  }
}

.remove{
  background-color: none;
}


/* --------------------------------------------- GENERAL PAGE --------------------------------------------- */

.container {
  width: 1000px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  min-height: 10px;
}



.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* --------------------------------------------- FORM --------------------------------------------- */

fieldset{
  input{
    height: 30px;
  }
  input:focus{
    outline-color: @orange;
    border-color: @orange;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px @orange;
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px @orange;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px @orange;
  }
}

/* --------------------------------------------- THERAPIST FORM --------------------------------------------- */

#therapistForm{

  fieldset{

    border-top: solid lightgray;

    legend{
      padding-left: 0;
      padding-right: 10px;
      color: @orange;
    }
  }


  #address_number_field, #address_floor_field, #address_depto_field {
    display: inline-block;
  }

  form #address_floor_field{
    .input{
      margin-left: 70px ;
    }
    label{
      width: 50px;
    }

  }

  form  #address_depto_field{
    .input{
      margin-left: 130px ;
    }
    label{
      width: 118px;
    }

  }


}



/* --------------------------------------------- PATIENTS --------------------------------------------- */


.patient{
  text-align: center;
  .Border-radius(10px);
  box-shadow: 0 0 25px 4px rgba(0,0,0,0.3);

  img{
    border: solid;
    box-shadow: 0 0 25px 4px rgba(0,0,0,0.3);
  }

  label{
    display: block;
    float: none;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
  }

  .name{
    text-transform: uppercase;
    color: @orange;
    font-weight: bold;

  }
  .dni{
    font-style: italic;
  }

}


/* --------------------------------------------- SPAN --------------------------------------------- */

.patient.span5{
  margin: 30px;
  height: 150px;
}

.span5{
  width: 450px;
}

.span1{
  float:left;
  width: 110px;
}

.container-fluid{
  padding: 20px;
}

.span4 {
  width: 300px;
  height: 120px;
  margin-left: 115px;
  text-align: left;
  position: absolute;
}

/* --------------------------------------------- LOGIN PAGE --------------------------------------------- */
#login{
  text-align: center;
  padding-top: 0;
}

.login{

  background: url("/assets/images/pizarron.png");
  position: absolute;
  background-size: 100% 100%;
  width:100%;
  height: 100%;


  .btn.success, .alert-message.success {
    .ButtonOrange;
  }

  h1{
    color: @orange;
    text-shadow: 3px 0px black;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-family: chalk2;
    margin-top: 50px;
    font-size: 50px;

  }

  .container{
    position: absolute;
    width: 25%;
    height: 33%;
    text-align: center;
    background: rgba(41, 41, 41, 0.5);
    .Border-radius(10px);
    left: 38%;
    top: 33%;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);


    fieldset{
      border: none;
      margin: auto;
      width: auto;
      padding: 10px;
    }

    input {
      .Border-radius(5px);
      display: block;
      width: 100%;
      height: 20%;
      position: relative;
      padding: 1%;
      margin: 3% 0% 1% 0%;
      text-align: center;
      font-size: 12px;
    }

    a{
      margin-top: 3%;
    }

    form {
      width: auto;
      display: block;
      padding: 10px;
      .Border-radius(5px);

      .btn{
        float: right;
        margin-top: 3%;
        width: 20%;
        height: 30px;

      }


      legend {
        width: 100%;
        text-align: center;
        font: 22px bold;
        text-transform: uppercase;
        border-bottom: 3px solid #ffa500;
        color: white;
        display: block;
        line-height: 1;
        padding-bottom: 10px;
        font-family: chalk;
      }
    }

  }
}