@orange: #FF9933;
@white: white;

.Border-radius(@radius:5px) {
  -webkit-border-radius:@radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

@font-face
{
  font-family: chalk;
  src: url("/assets/fonts/CAIPIRINHA.ttf")
}

@font-face
{
  font-family: chalk1;
  src: url("/assets/fonts/CFMarieEve.ttf")
}

@font-face
{
  font-family: chalk2;
  src: url("/assets/fonts/LEVIBRUSH.ttf")
}


body{
  background: #000;
  color: #bababa;
  text-align: center;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.topbar{
  background-image: -moz-linear-gradient(top, #222222, #333333) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#333333)) !important;
  background-image: -webkit-linear-gradient(top, #222222, #333333) !important;
  background-image: -o-linear-gradient(top, #222222, #333333) !important;
  background-image: linear-gradient(to bottom, #222222, #333333) !important;
  background-repeat: repeat-x !important;
  border-color: #252525 !important;
//
//  background-image: linear-gradient(bottom, rgb(51,51,51) 27%, rgb(0,0,0) 58%) !important;
//  background-image: -o-linear-gradient(bottom, rgb(51,51,51) 27%, rgb(0,0,0) 58%) !important;
//  background-image: -moz-linear-gradient(bottom, rgb(51,51,51) 27%, rgb(0,0,0) 58%) !important;
//  background-image: -webkit-linear-gradient(bottom, rgb(51,51,51) 27%, rgb(0,0,0) 58%) !important;
//  background-image: -ms-linear-gradient(bottom, rgb(51,51,51) 27%, rgb(0,0,0) 58%) !important;

  .brand{
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 20px !important;
    float: right !important;
    font-weight: bold !important;
    color: black !important;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125) !important;
    -webkit-transition: all .2s linear !important;
    -moz-transition: all .2s linear !important;
    transition: all .2s linear !important;
  }
}

.topbar .brand:hover {
  color: #ffffff !important;
  text-decoration: none !important;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4) !important;
  background-color: transparent !important;
}



fieldset{
  border: none;
  margin: auto;
  width: auto;
  padding: 10px;
}

input:focus{
  outline-color: @orange;
 }

input {
  .Border-radius(5px);
  display: block;
  width: 100%;
  height: 20%;
  position: relative;
  padding: 1%;
  margin: 3% 0% 1% 0%;
  text-align: center;
  font-size: 12px;
}

.btn.success, .alert-message.success {
  background-color: @orange;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#FFAD5c), to(#FF9933));
  background-image: -moz-linear-gradient(top, #FFAD5c, #FF9933);
  background-image: -ms-linear-gradient(top, #FFAD5c, #FF9933);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF9933), color-stop(100%, #FF9933));
  background-image: -webkit-linear-gradient(top, #FFAD5c, #FF9933);
  background-image: -o-linear-gradient(top, #FFAD5c, #FF9933);
  background-image: linear-gradient(top, #FFAD5c, #FF9933);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAD5c', endColorstr='#FF9933', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #FFAD5c #FFAD5c #FF9933;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  text-decoration: none;
  color: @white ;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}

.login{

  background: url("/assets/images/pizarron.png");
  position: absolute;
  background-size: 100% 100%;
  width:100%;
  height: 100%;

  h1{
    color: @orange;
    text-shadow: 3px 0px black;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-family: chalk2;
    margin-top: 50px;
    font-size: 50px;

  }

  .container{
    position: absolute;
    width: 25%;
    height: 28%;
    text-align: center;
    background: rgba(41, 41, 41, 0.5);
    .Border-radius(10px);
    left: 38%;
    top: 33%;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);

    form {
      width: auto;
      display: block;
      padding: 10px;
      .Border-radius(5px);

      .btn{
        float: right;
        margin-top: 5%;
        width: 10%;
      }

      legend {
        width: 100%;
        text-align: center;
        font: 22px bold;
        text-transform: uppercase;
        border-bottom: 3px solid #ffa500;
        color: white;
        display: block;
        line-height: 1;
        padding-bottom: 10px;
        font-family: chalk;
      }
    }

  }
}