@(signUpForm: Form[Institution], contactMessage: Form[Application.ContactMessage])


<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="icon" href="@routes.Assets.at("images/logo/icono.ico")">
    <link rel="shortcut icon" href="@routes.Assets.at("images/logo/icono.ico")" />

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/camera.css">
    <link rel="stylesheet" href="css/form.css">


    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/comercialPage/style.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/comercialPage/camera.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/comercialPage/form.css")">

    <script src="@routes.Assets.at("javascripts/comercialPage/jquery.js")"></script>
    <script src="@routes.Assets.at("javascripts/comercialPage/jquery-migrate-1.1.1.js")"></script>
    <script src="@routes.Assets.at("javascripts/comercialPage/superfish.js")"></script>
    <script src="@routes.Assets.at("javascripts/comercialPage/forms.js")"></script>
    <script src="@routes.Assets.at("javascripts/comercialPage/jquery.ui.totop.js")"></script>
    <script src="@routes.Assets.at("javascripts/comercialPage/jquery.easing.1.3.js")"></script>
    <script src="@routes.Assets.at("javascripts/comercialPage/jquery.equalheights.js.js")"></script>
    <script src="@routes.Assets.at("javascripts/comercialPage/tms-0.4.1.js")"></script>

    <script>
        $(document).ready(function(){
            $('.slider_wrapper')._TMS({
                show:0,
                pauseOnHover:false,
                prevBu:'.prev',
                nextBu:'.next',
                playBu:false,
                duration:800,
                preset:'fade',
                pagination:true,//'.pagination',true,'<ul></ul>'
                pagNums:false,
                slideshow:8000,
                numStatus:false,
                banners: 'fade',
                waitBannerAnimation:false,
                progressBar:false
            });
        });
        $(document).ready(function(){
            !function(){
                var map=[]
                        ,names=[]
                        ,win=$(window)
                        ,header=$('header')
                        ,currClass
                $('.content').each(function(n){
                    map[n]=this.offsetTop
                    names[n]=$(this).attr('id')
                })
                win
                        .on('scroll',function(){
                            var i=0
                            while(map[i++]<=win.scrollTop());
                            if(currClass!==names[i-2])
                                currClass=names[i-2]
                            header.removeAttr("class").addClass(names[i-2])
                        })
            }(); });
        function goToByScroll(id){
            $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
        }
        $(document).ready(function(){
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>

</head>
<body class="">
<!--==============================header=================================-->
<header class="page1">
    <div class="container_12">
        <div class="grid_12">
            <h1 class="logo"><a href="#" onClick="goToByScroll('page1')"><img src="@routes.Assets.at("images/logo/GrandeSoloNombre.png")"></a></h1>
            <div class="menu_block">
                <nav class="">
                    <ul class="sf-menu">
                        <li class="current men"><a onClick="goToByScroll('page1')" href="#">Home </a> <strong class="hover"></strong></li>
                        <li class="men1"><a onClick="goToByScroll('page2')" href="#">Quienes Somos</a><strong class="hover"></strong></li>
                        <li class=" men2"><a onClick="goToByScroll('page3')" href="#">Get Together</a> <strong class="hover"></strong></li>
                        <li class=" men3"><a onClick="goToByScroll('page4')" href="#">Registrate</a> <strong class="hover"></strong></li>
                        <li class=" men4"><a onClick="goToByScroll('page5');" href="#">Contactanos</a> <strong class="hover"></strong></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</header>
<!--=======content================================-->
<div id="page1" class="content">
    <div class="container_12">
        <div class="grid_12">
            <div class="slider_wrapper">
                <ul class="items">
                    <li>
                        <img src="@routes.Assets.at("images/comercialPage/spacer.gif")"alt="">
                        <div class="caption banner">
                            <h2>Aprender</h2>
                        </div>
                    </li>
                    <li>
                        <img src="@routes.Assets.at("images/comercialPage/spacer.gif")"alt="">
                        <div class="caption banner">
                            <h2>Jugar</h2>
                        </div>
                    </li>
                    <li>
                        <img src="@routes.Assets.at("images/comercialPage/spacer.gif")"alt="">
                        <div class="caption banner">
                            <h2>Conocer</h2>
                        </div>
                    </li>
                    <li>
                        <img src="@routes.Assets.at("images/comercialPage/spacer.gif")"alt="">
                        <div class="caption banner">
                            <h2>GET TOGETHER</h2>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="socials">
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div>
        </div>
    </div>
</div>
<div id="page2" class="content">
    <div class="container_12">
        <div class="grid_12">
            <div class="slogan">
                <h3>Nuestros profesionales de  <a onClick="goToByScroll('page3')" href="#"> GET TOGETHER </a></h3>
                <div class="text1">
                    Nos dedicamos a brindar un sistema para mejorar la salud de sus chicos.
                </div>
            </div>
        </div>
        <div class="containerCP">
            <div class="grid_5">
                <div class="box maxheight">
                    <img src="@routes.Assets.at("images/comercialPage/noe.JPG")" alt="María Noel Podestá">
                    <div class="text1"><a href="#">María Noel Podestá</a></div>CEO
                    <div class="socials1">
                        <a href="https://www.facebook.com/noe.podesta"></a>
                        <a href="https://twitter.com/noepodesta"></a>
                        <a href="https://plus.google.com/u/0/101115235787749097443/about/p/pub"></a>
                        <a href="http://www.linkedin.com/pub/mar%C3%ADa-noel-podest%C3%A1/2b/60/496"></a>
                    </div>
                </div>
            </div>
            <div class="grid_5">
                <div class="box maxheight">
                    <img src="@routes.Assets.at("images/comercialPage/JuaniMolteni.jpg")" weight= 200px height= 100px alt="Juan Ignacio Molteni">
                    <div class="text1"><a href="#">Juan Ignacio Molteni</a></div> CEO
                    <div class="socials1">
                        <a href="https://plus.google.com/u/0/102651047920407977951/about"></a>
                        <a href="#"></a>
                        <a href="https://www.facebook.com/juan.i.molteni"></a>
                        <a href="http://www.linkedin.com/pub/juan-ignacio-molteni/37/923/5b3"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="page3" class="content">
        <div class="container_12">
            <div class="grid_12">
                <div class="slogan">
                <h3>Get Together</h3>
                <div class="text1">
                    Get Together es una aplicación bla bla .....
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="page4" class="content">
        <div class="container_12">
            <div class="grid_12">
                <div class="slogan">
                    <h3>Registrate</h3>
                    <div class="text1">
                        Que esperas para empezar hacer parte de <span> GET TOGETHER </span>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
            <div class="grid_5">
                <div class="text1">Registra tu Institución</div>

                <form id="form">
                @helper.form(routes.Application.partialSignUp()) {


                        <fieldset>
                            <input type="text" placeholder="Nombre de la institución" name="name">
                            <input type="text" placeholder="Mail" name="mail">
                            <input type="text" placeholder="Telefono" name="telephone">
                            <input type="text" placeholder="Dirección" name="address.street">
                            <input class="inline small" type="text" placeholder="Número" name="address.number">
                            <input type="text" placeholder="Codigo Postal" name="address.cp">

                            <div class="btns"><input type="submit" value="Registrar">
                            </div>
                        </fieldset>



                }
                </form>
            </div>
        </div>
    </div>
    <div id="page5" class="content">
        <div class="container_12">
            <div class="grid_12">
                <div class="slogan">
                    <h3>Contactanos</h3>
                    <div class="text1">
                        Gyrto ivamus at magna non nunc tristique rhoncusu. Lliquam nibh ante, egestas id dictum a, commodo luctus mibero. Praesent faucibus malesuada faucibu. Monec laoreet metus id laoreet malesuadw.
                    </div>
                </div>
            </div>

            <div class="clear"></div>
            <div class="grid_5">
                <div class="text1">Dejanos tu Mensaje:</div>
                <form id="form">
                @helper.form(routes.Application.sendContactMessage()) {

                    <div class="success_wrapper">
                        @if(flash.containsKey("success")) {
                            <div class="success">Mesaje enviado!<br>
                                <strong>Nos comunicaremos con usted a la brevedad.</strong>
                            </div>
                        } @if(contactMessage.hasErrors) {
                        <div class="alert-message error">
                            <div class="success">Error<br>
                                <strong>Complete nuevamente los campos con error</strong>
                            </div>
                            <p><strong>Oops!</strong> Hay algunos errores</p>
                        </div>
                        }

                    </div>
                    <fieldset>
                        <input type="text" placeholder="Nombre">
                        <span class="error error-empty">*This is not a valid name.</span><span class="empty error-empty">*This field is required.</span>

                        <input type="text" placeholder="Mail">
                        <span class="error error-empty">*This is not a valid email address.</span><span class="empty error-empty">*This field is required.</span>
                        <textarea placeholder="Mensaje"></textarea>
                        <br class="clear">
                        <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span>
                        <div class="clear"></div>

                        <div class="btns"><input type="submit" value="Enviar"></div>
                    </fieldset>
                }
                </form>
            </div>

            <div class="grid_5 prefix_1 commercialInfo">
                <label><img src="@routes.Assets.at("images/icons/usual/icon-email.png")" width="15" height="15"></label>
                <label>contact@@gettogether.com</label>
                <label><img src="@routes.Assets.at("images/icons/usual/icon-phone.png")" width="20" height="20"></label>
                <label>Skype: GetTogether</label>
                <label><img src="@routes.Assets.at("images/icons/usual/icon-home.png")"  width="20" height="20"></label>
                <label>Buenos Aires, Argentina</label>

            </div>


            <div class="clear"></div>
        </div>
    </div>
        <!--==============================footer=================================-->
    <footer>
        <div class="container_12">
            <div class="grid_12">
                <div class="copy">
                    <div class="inline"><a onClick="goToByScroll('page1')" href="#">GET TOGETHER </a></div>
                    <div class="inline"> &copy; 2013 | <a href="#">Privacy Policy</a> <br> Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</body>
</html>