@(therapistForm: Form[Therapist])

@import helper._

@main("Create Therapist"){
    
    <h1>Dar de alta Terapeuta</h1>
    
    @form(routes.TherapistController.saveTherapist(), 'enctype -> "multipart/form-data") {
        
        <fieldset>
        
            @inputText(therapistForm("name"), '_label -> "Name")
            @inputText(therapistForm("surname"), '_label -> "Surname")
            @inputText(therapistForm("address"), '_label -> "Address")
            @inputText(therapistForm("telephone"), '_label -> "Telephone")
            @inputText(therapistForm("mail"), '_label -> "E-Mail")
            @inputText(therapistForm("birthday"), '_label -> "Birthday")
            @inputText(therapistForm("dni"), '_label -> "DNI")
            @inputText(therapistForm("nm"), '_label -> "Matricula Nacional")
            @inputPassword(therapistForm("pass"), '_label -> "Contraseña")
            <input type="file" accept="image/*" name="picture">

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Agregar Terapeuta" class="btn primary"> or
        </div>
        
    }
}