@(patientForm: Form[Patient])

@import helper._

@title = {
    Dar de alta al Paciente
}


@main(title, nav = ""){
    
    @form(routes.Application.saveTherapist()) {
        
        <fieldset>
            @inputText(patientForm("name"), '_label -> "Name")
            @inputText(patientForm("surname"), '_label -> "Surname")
            @inputText(patientForm("address"), '_label -> "Address")
            @inputText(patientForm("telephone"), '_label -> "Telephone")
            @inputText(patientForm("birthday"), '_label -> "Birthday")
            @inputText(patientForm("dni"), '_label -> "DNI")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Agregar Pacient" class="btn success"> or
        </div>
        
    }
}