@(titleString: String, patientForm: Form[Patient])

@title = {
    @titleString
}

@import helper._
@import helper.twitterBootstrap._

@main(title, nav = " "){
    <div id=therapistForm>
        @if(patientForm.hasErrors) {
            <div class="alert-message error">
                <p><strong>Oops!</strong> Hay algunos errores</p>
            </div>
        }


        @helper.form(routes.PatientController.savePatient(), 'enctype -> "multipart/form-data") {


            <fieldset>
                <legend>Información General</legend>


                @inputText(patientForm("name"),
                    '_label -> "Nombre"
                )
                @inputText(
                    patientForm("surname"),
                    '_label -> "Apellido"
                )

                @inputText(
                    patientForm("dni"),
                    '_label -> "DNI",
                    '_error -> patientForm.globalError
                )

                @select(
                    patientForm("genero"),
                    options = options(Gender.all()),
                    '_default -> "--- Eliga el sexo ---",
                    '_label -> "Sexo",
                    '_error -> patientForm("genero").error.map(_.withMessage("Por Favor seleccione un sexo"))
                )

                @helper.inputDate(
                    patientForm("birthday"),
                    '_label -> "Fecha de Nacimiento",
                    '_help -> "Formato dd/MM/yyyy" ,
                    'format -> "dd/MM/yyyy"
                )

                @inputText(
                    patientForm("mail"),
                    '_label -> "Correo electrónico"
                )

                <div class="clearfix  " id="picture_field">
                    <label for="picture">Imagen de Perfil</label>
                    <div class="input">

                        <input type="file" id="picture" name="picture" accept="image/*" >
                        <span class="help-inline"></span>
                        <span class="help-block">Ingrese una imagen de perfil.</span>
                    </div>
                </div>

            </fieldset>

            <fieldset>

                <legend>Dirección</legend>

                @inputText(
                    patientForm("address.cp"),
                    '_label -> "Codigo Postal"
                )

                @inputText(
                    patientForm("address.street"),
                    '_label -> "Calle"
                )

                @inputText(
                    patientForm("address.number"),
                    '_label -> "Número",'class -> "mini",
                    '_showConstraints -> false
                )

                @inputText(
                    patientForm("address.floor"),
                    '_label -> "Piso", 'class -> "mini"
                )

                @inputText(
                    patientForm("address.depto"),
                    '_label -> "Departamento", 'class -> "mini"
                )

                @inputText(
                    patientForm("address.locality"),
                    '_label -> "Localidad"
                )

                @select(
                    patientForm("address.province"),
                    options = options(Province.list),
                    '_default -> "--- Eliga una provincia ---",
                    '_label -> "Provincia",
                    '_error -> patientForm("address.province").error.map(_.withMessage("Por Favor seleccione una provincia"))
                )

            </fieldset>

            <fieldset>

                <legend>Teléfonos</legend>

                @inputText(
                    patientForm("telephone"),
                    '_label -> "Teléfono"
                )
                @inputText(
                    patientForm( "cellphone"),
                    '_label -> "Celular"
                )
            </fieldset>


            <fieldset>

                <legend>Enfermedad</legend>

                @inputText(
                    patientForm("disease"),
                    '_label -> "Enfermedad"
                )
                @inputText(
                    patientForm("gradeDisease"),
                    '_label -> "Grado de Enfermedad"
                )
            </fieldset>

            <fieldset>

                <legend>Cobertura Médica</legend>

                @inputText(
                    patientForm("medicalCoverage"),
                    '_label -> "Cobertura Médica"
                )
                @inputText(
                    patientForm("nMedicalCoverage"),
                    '_label -> "Número"
                )
            </fieldset>



            <div class="actions">
                <input type="submit" value="Agregar Paciente" class="btn primary">
            </div>

        }
    </div>
}