@(form: Form[Application.Login])

<html>
<head>
    <title>Autism Application - Login</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/stylesheet.css")">
    <!--<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">-->
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/pizarron.png")">

</head>
<body id="login">
<div class="login">
    <h1>AUTISM APPLICATION</h1>
    <div class="container">
        @helper.form(routes.Application.authenticate) {
        <form>
            <fieldset>
                <legend>Log in</legend>
                @if(form.hasGlobalErrors) {
                <p class="error">
                    @form.globalError.message
                </p>
                }
                @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
                }
                <input name="dni" placeholder="Ingrese su dni" value="@form("dni").value">
                <input name="password"  type="password" placeholder="Ingrese su password">
                <input type="submit" value="Login" class="btn success"/>

            </fieldset>
        </form>
        }
    </div>
</div>
</body>
</html>
