@(title: String)(content: Html)


<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/stylesheet.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/pizarron.png")">

    </head>
    <body>
    <header>
        <div class="topbar">

            <div class="container">
                <a class="brand" href="@routes.Application.index()"> Autism Application</a>
                <div class="nav">
                    <ul class="nav">
                        <li>
                            <a href="@routes.Application.profile()"> Mi Perfil</a>
                        </li>
                        <li>
                            <a href="@routes.Application.therapistList()"> Terapeutas</a>
                        </li>
                        <li>
                            <a href="@routes.Application.pacientList()"> Pacientes</a>
                        </li>
                    </ul>



                </div>
            </div>
        </div>
    </header>
    @content
    </body>
</html>
