@(patientList: List[models.Patient])
    @import helper._

    @title = {
        Pacientes
    }
    @main(title, nav = "patients") {

        @if(flash.containsKey("success")) {
            <div class="alert-message warning">
                <strong>Done!</strong> @flash.get("success")
            </div>
        }

        @if(patientList.isEmpty()) {

            <div class="well">
                <em>No se han ingresado pacientes</em>
            </div>

        } else {


            <div class="row">
            @for(patient <- patientList) {

                <div class="patient span5">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span1">
                                <img src="@routes.Assets.at(patient.image)" alt="@patient.name" height="100" width="100">
                             </div>
                        <div class="span4">
                            <label class="name">@patient.name @patient.surname</label>
                            <label class="dni">@patient.dni</label>
                            @form(routes.PatientController.removePatient(patient.id)) {
                                <label class = "remove">
                                    <input type="submit" value="Eliminar" class="btn danger">
                                </label>
                            }
                            <label class = "remove">
                                <a class="btn btn-info disabled" href="@routes.PatientController.editPatient(patient.id)">Editar</a>
                            </label>

                        </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        }

        <fieldset class="pull-right">
            <a class="btn success" id="add" href="@routes.PatientController.createPatient()">Agregar Paciente</a>
        </fieldset>
    }