@(therapistForm : Form[Therapist], partialSignUpForm : Form[Application.PartialSignUp])

    @import helper._

    @title = {
        Registración
    }

    @main2(title, nav=" ", null){
        <div id=therapistForm>
            @if(therapistForm.hasErrors) {
                <div class="alert-message error">
                    <p><strong>Oops!</strong> Hay algunos errores</p>
                </div>
            }

            @form(routes.Application.registerAdmin(), 'enctype -> "multipart/form-data") {
                <fieldset>
                    <legend>Informacion General</legend>

                    <div class="span5">
                        @inputText(therapistForm("name"),
                            '_label -> "Nombre"
                        )
                        @inputText(
                            therapistForm("surname"),
                            '_label -> "Apellido"
                        )

                        @inputText(
                            partialSignUpForm("dni"),
                            '_label -> "DNI",
                            '_error -> therapistForm.globalError

                        )

                        @select(
                            therapistForm("genero"),
                            options = options(Gender.all()),
                            '_default -> "--- Eliga el sexo ---",
                            '_label -> "Sexo",
                            '_error -> therapistForm("genero").error.map(_.withMessage("Por Favor seleccione un sexo"))
                        )

                    </div>
                    <div class="span5 offset">

                        @helper.inputDate(
                            therapistForm("birthday"),
                            '_label -> "Fecha de Nacimiento",
                            '_help -> "Formato dd/MM/yyyy" ,
                            'format -> "dd/MM/yyyy"
                        )

                        @inputText(
                            partialSignUpForm("mail"),
                            '_label -> "Correo electrónico"
                        )

                        @inputText(
                            therapistForm("nm"),
                            '_label -> "Matricula Nacional"
                        )
                        <div class="clearfix  " id="picture_field">
                            <label for="picture">Imagen de Perfil</label>
                            <div class="input">

                                <input type="file" id="picture" name="picture" accept="image/*" >
                                <span class="help-inline"></span>
                                <span class="help-block">Ingrese una imagen de perfil.</span>
                            </div>
                        </div>

                    </div>

                </fieldset>

                <fieldset>

                    <legend>Dirección</legend>

                    @inputText(
                        therapistForm("address.cp"),
                        '_label -> "Codigo Postal"
                    )

                    @inputText(
                        therapistForm("address.street"),
                        '_label -> "Calle"
                    )

                    @inputText(
                        therapistForm("address.number"),
                        '_label -> "Número",'class -> "mini",
                        '_showConstraints -> false
                    )

                    @inputText(
                        therapistForm("address.floor"),
                        '_label -> "Piso", 'class -> "mini"
                    )

                    @inputText(
                        therapistForm("address.depto"),
                        '_label -> "Departamento", 'class -> "mini"
                    )

                    @inputText(
                        therapistForm("address.locality"),
                        '_label -> "Localidad"
                    )

                    @select(
                        therapistForm("address.province"),
                        options = options(Province.list),
                        '_default -> "--- Eliga una provincia ---",
                        '_label -> "Provincia",
                        '_error -> therapistForm("address.province").error.map(_.withMessage("Por Favor seleccione una provincia"))
                    )

                </fieldset>

                <fieldset>

                    <legend>Teléfonos</legend>

                    @inputText(
                        therapistForm("telephone"),
                        '_label -> "Teléfono"
                    )
                    @inputText(
                        therapistForm( "cellphone"),
                        '_label -> "Celular"
                    )

                </fieldset>

                <fieldset>

                    <legend>Contraseña</legend>

                    @inputPassword(
                        partialSignUpForm("password"),
                        '_label -> "Contraseña",
                        '_help -> "La contraseña debe tener al menos 6 caracteres."
                    )
                    @inputPassword(
                        therapistForm("repeatPassword"),
                        '_label -> "Confirmar contraseña",
                        '_help -> "Por Favor ingrese su contraseña nuevamente",
                        '_error -> therapistForm.error("password")
                    )

                </fieldset>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                @inputText(
                                    therapistForm("institution.name"),
                                    '_label -> "Nombre"
                                )

                                @inputText(
                                    therapistForm("institution.address.cp"),
                                    '_label -> "Codigo Postal"
                                )

                                @inputText(
                                    therapistForm("institution.address.street"),
                                    '_label -> "Calle"
                                )

                                @inputText(
                                    therapistForm("institution.address.number"),
                                    '_label -> "Número",'class -> "mini",
                                    '_showConstraints -> false
                                )

                                @inputText(
                                    therapistForm("institution.address.floor"),
                                    '_label -> "Piso", 'class -> "mini"
                                )

                                @inputText(
                                    therapistForm("institution.address.depto"),
                                    '_label -> "Departamento", 'class -> "mini"
                                )

                                @inputText(
                                    therapistForm("institution.address.locality"),
                                    '_label -> "Localidad"
                                )

                                @select(
                                    therapistForm("institution.address.province"),
                                    options = options(Province.list),
                                    '_default -> "--- Eliga una provincia ---",
                                    '_label -> "Provincia",
                                    '_error -> therapistForm("address.province").error.map(_.withMessage("Por Favor seleccione una provincia"))
                                )

                                @inputText(
                                    therapistForm("institution.telephone"),
                                    '_label -> "Teléfono"
                                )


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Done!</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="actions">
                    <a data-toggle="modal" href="#myModal" class="btn btn-success">Registrar Insitucion</a>
                    <input type="submit" value="Registrar" class="btn btn-success">
                </div>

            }
        </div>


}

