@(institutionForm : Form[Institution])


    @import helper._
    @import helper.twitterBootstrap._



@mainSignUp("Institution Sign Up"){

                @if(flash.containsKey("errors")) {
                    <div class="alert alert-error">
                        <strong>Ups!,</strong> @flash.get("success")
                    </div>
                }

                <div class="alert alert-info"><p> Gracias por querer formar parte de la comunidad de GET TOGETHER, a continuación se lo guiará para que
                    pueda darse de alta. El primer paso consiste en la creación de la institución y por ultimo se creará el
                    usuario administrador. </p>
                </div>

                <div id="therapistForm">

                @form(routes.InstitutionController.signUpInstitution(), 'enctype -> "multipart/form-data") {

                    <h1>1. Institución</h1>
                    <fieldset>
                        <legend>Información General</legend>

                        <div class="span5">

                            @inputText(
                                institutionForm("name"),
                                '_showConstraints -> false,
                                'placeholder -> "Nombre",
                                '_label -> "Nombre *"
                            )

                            @inputText(
                                institutionForm("telephone"),
                                '_showConstraints -> false,
                                'placeholder -> "44444444",
                                '_label -> "Teléfono *"
                            )

                            @inputText(
                                institutionForm("mail"),
                                '_showConstraints -> false,
                                'placeholder -> "signup@gettogether.com",
                                '_label -> "Correo electrónico"

                            )

                            @inputText(
                                institutionForm("address.street"),
                                '_showConstraints -> false,
                                'placeholder -> "Av. Get Together",
                                '_label -> "Calle *"
                            )

                            <div class="address">
                            @inputText(
                                institutionForm("address.number"),
                                '_showConstraints -> false,
                                'placeholder -> "4444",
                                'class -> "mini inline",
                                '_label -> "Número: *"
                            )

                            @inputText(
                                institutionForm("address.floor"),
                                '_showConstraints -> false,
                                'placeholder -> "3",
                                'class -> "mini inline",
                                '_label -> "Piso: "
                            )
                            @inputText(
                                institutionForm("address.depto"),
                                '_showConstraints -> false,
                                'placeholder -> "AB",
                                'class -> "mini inline",
                                '_label -> "Depto.:"
                            )
                            </div>
                        </div>



                        <div class="span5 offset1">


                            @inputText(
                                institutionForm("address.cp"),
                                '_showConstraints -> false,
                                'placeholder -> "2341",
                                '_label -> "Codigo Postal *"
                            )


                            @inputText(
                                institutionForm("address.locality"),
                                '_showConstraints -> false,
                                'placeholder -> "Capital Federal",
                                '_label -> "Localidad *"
                            )

                            @select(
                                institutionForm("address.province"),
                                options = options(Province.list),
                                '_default -> "--- Eliga una provincia ---",
                                '_showConstraints -> false,
                                '_label -> "Provincia",
                                '_error -> institutionForm("institution.province").error.map(_.withMessage("Por Favor seleccione una provincia"))
                            )
                            <div class="clearfix  " id="picture_field">
                                <label for="picture">Imagen de Perfil</label>
                                <div class="input">

                                    <input type="file" id="picture" name="picture" accept="image/*" >
                                </div>
                            </div>
                        </div>




                    </fieldset>



                    <div class="actions right">
                        <input type="submit" value="Siguiente" class="btn btn-success">
                    </div>

                }
</div>
}