@(therapistList: List[models.Therapist])
@import helper._

@title = {
    Terapeutas
}

@main(title ,nav = "therapists") {


        @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
        }

        @if(therapistList.isEmpty()) {

        <div class="well">
            <em>No se han ingresado terapeutas</em>
        </div>

        } else {

        <table class="computers zebra-striped">
            <thead>
            <tr>

                <td>Photo</td>
                <td>Name</td>
                <td>Surname</td>
                <td>Address</td>
                <td>Thelephone</td>
                <td>DNI</td>
                <td>E-Mail</td>
                <td>Fecha de Nacimiento</td>
                <td>Matricula Nacional</td>
                <td class ="remove"></td>
                <td class ="edit"></td>
            </tr>
            </thead>
            <tbody>

            @for(therapist <- therapistList) {
            <tr>
                <td>
                @if(therapist.image!= null){
                    <img src="@routes.Assets.at(therapist.image)" alt="@therapist.name" height="42" width="42">
                }else{
                    <em>No se ha especificado</em>
                }
                </td>
                <td>@therapist.name</td>
                <td>@therapist.surname</td>
                <td>@therapist.address</td>
                <td>@therapist.telephone</td>
                <td>@therapist.dni</td>
                <td>@therapist.mail</td>
                <td>
                    @if(therapist.birthday == null){
                        <em>No ha especificado</em>
                    }else{
                        @therapist.birthday.format("dd MMM yyyy")</td>
                }
                <td>@therapist.nm</td>
                @form(routes.TherapistController.removeTherapist(therapist.id)) {
                <td class = "remove">
                    <input type="submit" value="Eliminar" class="btn danger">
                </td>
                <td class = "edit">
                    <a class="btn success" href="@routes.TherapistController.editTherapist(therapist.id)">Editar</a>
                </td>
                }

            </tr>
            }

            </tbody>
        </table>
        }


        <fieldset class="actions">
            <a class="btn success" id="add" href="@routes.TherapistController.createTherapist()">Agregar Terapeuta</a>
        </fieldset>


    }