@(id: Integer)(therapistForm: Form[Therapist])(self: Boolean)

@import helper._
@import helper.twitterBootstrap._


@title = {
    Editar @therapistForm.get().name @therapistForm.get().name
}

    @navigator = {

        <a href="@routes.TherapistController.therapistList()">Terapeutas</a><div class="breadcrumb_divider"></div>
        <a href="@routes.TherapistController.therapistProfile(therapistForm.get().id)">@therapistForm.get().name
            @therapistForm.get().surname</a><div class="breadcrumb_divider"></div>
        <a class="current">Editar </a>

    }

@main2(title,navigator, null){
    <div class="container-fluid">

    <div id=therapistForm>
        @if(therapistForm.hasErrors) {
        <div class="alert-message error">
            <p><strong>Oops!</strong> Hay algunos errores</p>
        </div>
        }

        @form(routes.TherapistController.updateTherapist(), 'enctype -> "multipart/form-data") {


            <fieldset>
                <legend>Información General</legend>
                <input type="hidden" value="@therapistForm("id").value" name="id" />

                <div class="span5">
                @inputText(therapistForm("name"),
                    '_label -> "Nombre",
                    '_showConstraints -> false

                )
                @inputText(
                    therapistForm("surname"),
                    '_label -> "Apellido",
                    '_showConstraints -> false

                )

                @inputText(
                    therapistForm("dni"),
                    '_label -> "DNI",
                    '_error -> therapistForm.globalError,
                    '_showConstraints -> false

                )

                @select(
                    therapistForm("gender"),
                    options = options(Gender.all()),
                    '_default -> "--- Eliga el sexo ---",
                    '_label -> "Sexo",
                    '_error -> therapistForm("gender").error.map(_.withMessage("Por Favor seleccione un sexo"))
                )
                </div>
                <div class="span5 offset1">

                @helper.inputDate(
                    therapistForm("birthday"),
                    '_label -> "Fecha de Nacimiento",
                    '_showConstraints -> false

                )

                @inputText(
                    therapistForm("mail"),
                    '_label -> "Correo electrónico",
                    '_showConstraints -> false

                )

                @inputText(
                    therapistForm("nm"),
                    '_label -> "Matricula Nacional",
                    '_showConstraints -> false

                )

                <div class="clearfix  " id="picture_field">
                    <label for="picture">Imagen de Perfil</label>
                    <div class="input">

                        <input type="file" id="picture" name="picture" accept="image/*" >
                        <span class="help-inline"></span>
                    </div>
                </div>
                </div>

            </fieldset>

            <fieldset>

                <legend>Dirección</legend>

                <div class="span5">
                @inputText(
                    therapistForm("address.cp"),
                    '_label -> "Codigo Postal"
                )

                @inputText(
                    therapistForm("address.street"),
                    '_label -> "Calle"
                )

                @inputText(
                    therapistForm("address.number"),
                    '_label -> "Número",'class -> "mini",
                    '_showConstraints -> false
                )

                @inputText(
                    therapistForm("address.floor"),
                    '_label -> "Piso", 'class -> "mini",
                    '_showConstraints -> false

                )
                    </div>
                    <div class="span5 offset1">

                @inputText(
                    therapistForm("address.depto"),
                    '_label -> "Departamento", 'class -> "mini",
                    '_showConstraints -> false

                )

                @inputText(
                    therapistForm("address.locality"),
                    '_label -> "Localidad",
                    '_showConstraints -> false

                )

                @select(
                    therapistForm("address.province"),
                    options = options(Province.list),
                    '_default -> "--- Eliga una provincia ---",
                    '_label -> "Provincia",
                    '_showConstraints -> false,
                    '_error -> therapistForm("address.province").error.map(_.withMessage("Por Favor seleccione una provincia"))
                )
                </div>

            </fieldset>

            <fieldset>

                <legend>Teléfonos</legend>

                <div class="span5">
                @inputText(
                    therapistForm("telephone"),
                    '_label -> "Teléfono",
                    '_showConstraints -> false

                )
                    </div>
                <div class="span5 offset1">
                @inputText(
                    therapistForm( "cellphone"),
                    '_label -> "Celular",
                    '_showConstraints -> false

                )
                </div>

            </fieldset>
            @if(self){
            <fieldset>

                <legend>Contraseña</legend>
                <div class="span5">
                @inputPassword(
                    therapistForm("password"),
                    '_label -> "Contraseña",
                    '_showConstraints -> false
                )
                    </div>
                <div class="span5 offset1">
                @inputPassword(
                    therapistForm("repeatPassword"),
                    '_label -> "Confirmar contraseña",
                    '_error -> therapistForm.error("password")
                )
                </div>

            </fieldset>
            }
            <div class="actions">
                <input type="submit" value="Actualizar" class="btn btn-info">
            </div>

        }
    </div>
    </div>
}
