@(id: Integer)(therapistForm: Form[Therapist])

@import helper._
@import helper.twitterBootstrap._


@title = {
Editar @therapistForm.get().name @therapistForm.get().name
}

@navigator = {

<a href="@routes.TherapistController.therapistList()">Terapeutas</a><div class="breadcrumb_divider"></div>
<a href="@routes.TherapistController.therapistProfile(therapistForm.get().id)">@therapistForm.get().name
    @therapistForm.get().surname</a><div class="breadcrumb_divider"></div>
<a class="current">Editar </a>

}

@main2(title,navigator, null){
<div class="container-fluid">

    <div id=therapistForm>
        @if(therapistForm.hasErrors) {
        <div class="alert-message error">
            <p><strong>Oops!</strong> Hay algunos errores</p>
        </div>
        }

        @form(routes.TherapistController.updateTherapistPassword()) {


        <fieldset>

            <input type="hidden" value="@therapistForm("id").value" name="id" />
            <input type="hidden" value="@therapistForm("name").value" name="name" />
            <input type="hidden" value="@therapistForm("surname").value" name="surname" />
            <input type="hidden" value="@therapistForm("dni").value" name="dni" />
            <input type="hidden" value="@therapistForm("telephone").value" name="telephone" />


            <legend>Contraseña</legend>
            <div class="span5">
                @inputPassword(
                therapistForm("password"),
                '_label -> "Contraseña",
                '_showConstraints -> false
                )
            </div>
            <div class="span5 offset1">
                @inputPassword(
                therapistForm("repeatPassword"),
                '_label -> "Confirmar contraseña",
                '_error -> therapistForm.error("password")
                )
            </div>

        </fieldset>

            <div class="actions">
                <input type="submit" value="Actualizar" class="btn btn-info">
            </div>
        }



    </div>
</div>
}
