@(therapistList: List[models.Therapist])
@import helper._

    @title = {
        Terapeutas
    }

@main2(title , nav = "therapists", null) {


    <div class="container-fluid">
        <div class="row-fluid">
        @if(flash.containsKey("success")) {
            <div class="alert alert-success">
                <strong>Listo!</strong> @flash.get("success")
            </div>
        }
        </div>
        @if(Secured.isAdmin){
            <div class="row-fluid">
                <div class="pull-right btn-margin">
                    <a class="btn btn-success" href="@routes.TherapistController.createTherapist()">Agregar Terapeuta</a>
                </div>
            </div>
        }
        <div class="row-fluid">

        @if(therapistList.isEmpty()) {

            <div class="well">
                <em>No se han ingresado terapeutas</em>
            </div>

        } else {

            <div class="therapistList">
            @for(therapist <- therapistList) {

                <div class="span4">
                    <div class="well">


                        @if(therapist.image!= null){
                            <img class="img-polaroid" src="@routes.Assets.at(therapist.image)" alt="@therapist.name" height="42" width="42">
                        }

                    <div class="therapistInfo">
                        <a href="@routes.TherapistController.therapistProfile(therapist.id)"><p class="inline">@therapist.name @therapist.surname</p></a>
                        @if(Secured.isAdmin){
                            <a class="pull-right" data-toggle="modal" href="#@therapist.id"><img src="@routes.Assets.at("images/delete.png")" alt="Eliminar" height="10" width="10"></a>
                        }
                    </div>
                    </div>
                </div>


                <div class="modal fade" id="@therapist.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Eliminar Terapeuta</h4>
                            </div>
                            <div class="modal-body">
                                Estas seguro que queres eliminar a este terapeuta?
                                @therapist.dni
                            </div>
                            <div class="modal-footer">
                                @form(routes.TherapistController.removeTherapist(therapist.id)) {
                                    <input type="submit" value="Eliminar" class="btn btn-danger disabled">
                                }
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->



            }
            </div>
        }
        </div>
    </div>
}




